h1{
    text-align: center;
    color: red;
}
body{
    background-color: bisque;
}
form {
    width: 400px;
    margin: auto;
}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 15px;
}

input {
    width: 200px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 7px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 10px;
    cursor: pointer;
}