body {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}

form {
    background-color: white;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
}

input {
    padding: 5px;
}

input[type="submit"], input[type="reset"] {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
}
